<div class="sign-wrapper edit">
  <h2>Edit Profile</h2>

  <img  class = "profile-img" src = "<%= "#{current_user.image_name_url}" %>">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
       Choose your new profile pic...</br><%= f.file_field :image_name, :accept => 'image/*' %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Enter your new email..." %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.text_field :name,  autocomplete: "off", :placeholder => "Enter your new name..."%>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Enter your new password..."%>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Enter your new password again..." %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "off", :placeholder => "Enter your current password (requied to change)" %>
    </div>

    <div class="actions btn btn-primary">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <div class="cancel-button btn btn-danger">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>

  <%= link_to "Back", :back %>
</div>
