!!! 5
%html
  %head
    %title LINE-like-app
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    = javascript_include_tag 'application'
    = javascript_include_tag '/assets/javascripts/boot.js'
    = csrf_meta_tags
  %body
    %header
      .header-logo
        = link_to 'LINE', "/"
      %ul.header-menus
        - if user_signed_in?
          %li Signed in as : #{current_user.name}
          %li= link_to 'Search',users_search_path
          %li= link_to 'Edit Profile', edit_user_registration_path
          %li= link_to 'Logout', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Sign in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
    - if flash[:notice]
      %p.notice
        =flash[:notice]
    - elsif flash[:alert]
      %p.alert
      =flash[:alert]

    = yield
